.parallax {
    height: 100vh;
}

.parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__container {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.parallax__label {
    display: flex;
    margin: 20px 10px;
    align-items: center;

    &::before {
        flex: 0 0 40px;
        content: '';
        margin: 0 10px 0 40px;
        background: red;
        height: 4px;
    }

    &--link {
        color: $trueWhite;
        text-shadow: 2px 2px black;
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 6px;
        text-decoration: none;
        display: flex;
        position: relative;

        transition: 0.5s;
        &:hover {
            color: rgb(216, 210, 210);
        }
    }
}

.parallax__title {
    text-align: center;
    font-size: 60px;
    color: $trueWhite;
    text-shadow: 2px 2px black;
}

.parallax__images {
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 1;
}

.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.images-parallax__clouds {
    background: url(../img/clouds.jpg) top / cover no-repeat;
    top: 0;
}

.images-parallax__mountains {
    background: url(../img/mountains.png) top / cover no-repeat;
    top: 15px;
    z-index: 2;
}

.images-parallax__human {
    background: url(../img/human.png) top / cover no-repeat;
    top: 45%;
    z-index: 3;

    @media (max-aspect-ratio: 3/2) {
        background-position: 20% top;
    }
}